@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* background: #ffd8d8; */
}

#particles {
  z-index: -1;
  height: 100%;
  position: absolute;
}
